.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

input {
  flex: 1;
}

button {
  max-width: 200px;
}

@media screen and (max-width: 503px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .inputContainer {
    display: flex;
    flex: 1;
  }

  label {
    margin-right: 10px;
  }

  button {
    max-width: none;
  }
}
